/* 기본 색상 변수 정의 */
:root {
  --background: #ffffff; /* 흰색 배경 */
  --foreground: #171717; /* 어두운 글자색 */
  --font-sans: sans-serif; /* 기본 산스 세리프 폰트 */
  --font-mono: monospace;  /* 기본 모노스페이스 폰트 */
  --font-noto-sans-kr: 'NotoSansKR', sans-serif; /* Noto Sans KR 변수 */
}

/* 다크 모드 설정 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* 어두운 배경 */
    --foreground: #ededed; /* 밝은 글자색 */
  }
}

/* NotoSansKR 폰트 정의 */
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* 가변 폰트 (Thin부터 Black까지) */
  font-style: normal;
  font-display: swap; /* 폰트 로딩 전략: 로드 전까지 대체 폰트 표시 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
  list-style: none; /* 블릿 제거 */
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit;        /* 부모 요소의 글자색 상속 */
}

.flex-center-row {
  display: flex;          /* Flexbox 레이아웃 사용 */
  align-items: center;   /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.flex-center-column {
  display: flex;          /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 세로 방향 정렬 */
  align-items: center;   /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
}

