.main {
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1440px;
  padding: 257px 222px 0 164px;
}

.title {
  margin-bottom: 37px;
}

.title p {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.subtitle {
  text-align: center;
  margin-bottom: 150px;
}

.subtitle p {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.diagnosisBtn {
  width: 1054px;
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #0C24A7;
  padding: 55px 66px 46px 169px;
  cursor: pointer;
}

.btnText {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.iconWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}